.DS_Store
.vscode
*.DSYM

# Prerequisites
*.d
.deps/

# Compiled Object files
*.slo
*.lo
*.o
.objs/
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# cpp 00
megaphone
phonebook
account

# cpp 02
BraiiiiiiinnnzzzZ
Moar\ brainz!Moar\ brainz!
HI\ THIS\ IS\ BRAIN
Unnecessary\ violence
Sed is for losers
*.replace
Harl\ 2.0
Harl\ filter

# cpp 02
myFirstOrthodoxClass
towardsAMoreUsefulFxed_pointNumberClass
nowWeAreTalking
bsp

# cpp 03
aaaaaaand_Open
serena_myLove
repetitiveWork
nowItIsWeird

# cpp 04
polymorphism
iDoNotWantToSetTheWorldOnFire
abstractClass
interfaceRecap

# cpp 05
momyWhenIGrowUpIWantToBeABureaucrat
formUpMaggots
noYouNeedForm28Bnot28C
atLeastThisBeatsCoffeeMaking
*_shrubbery

# cpp 06
conversionOfScalarTypes
serialization
identifyRealType

# cpp 07
startWithAFewFunctions
iter
array

# cpp 08

# cpp 09